#calculator{
    border: 1px solid rgb(187, 178, 178);
    border-radius: 5px;
    width: 200px;
   
}
#display{
    margin: 10px ;
    width: 85%;
    font-size: 25px;
}
.button{
    height:40px;
    width: 45px;
    margin: 3px;
}
.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}